{
  "overrides": [
    {
      "files": "*.js",
      "options": {
        "printWidth": 120,
        "tabWidth": 2,
        "useTabs": false,
        "singleQuote": true,
        "bracketSpacing": false,
        "explicitTypes": "always",
        "semi": true,
        "endOfLine": "lf"
      }
    },
    {
      "files": "*.ts",
      "options": {
        "printWidth": 120,
        "tabWidth": 2,
        "useTabs": false,
        "singleQuote": true,
        "bracketSpacing": false,
        "explicitTypes": "always",
        "semi": true,
        "endOfLine": "lf"
      }
    },
    {
      "files": "*.sol",
      "options": {
        "printWidth": 100,
        "tabWidth": 4,
        "useTabs": false,
        "singleQuote": false,
        "bracketSpacing": false,
        "explicitTypes": "always",
        "endOfLine": "lf"
      }
    }
  ]
}
